/* .dashboard {
    padding: 50px;
} */
.dash-info {
    background-color: #fff;
    padding: 50px;
    margin-bottom: 30px;
}
.dash-info h1 {
    font-weight: 300;
    line-height: 44px;
    margin-bottom: 25px;
    color: #000;
}
.dash-info p {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    padding: 0 100px;
}
.col-box {
    background-color: #fff;
    padding: 40px 20px;
    min-height: 150px;
    /* line-height: 150px; */
    text-align: center;
}
.col-box h3 {
    font-weight: 500;
    color: #333; 
    margin-bottom: 0; 
    font-weight: 400;
}
.col-box h4 {
    width: 110px;
    height: 110px;
    background: #ebedef;
    border-radius: 50%;
    line-height: 110px;
    margin-bottom: 15px;
    display: inline-block;
    font-size: 36px;
    font-weight: 300;
}
.col-box h4 a {
    color: #39f;
}
.col-box h4 a:hover, .col-box h4 a:focus {
    text-decoration: none;
}